# MÓDULO 1 - public/.htaccess
# Reescritura de URLs hacia el Front Controller (public/index.php)

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
