/**
 * MÓDULO: CONFIGURACIÓN GLOBAL
 * Archivo: public/assets/css/settings_panel.css
 */
.settings-card-item { 
    transition: all 0.3s ease; 
    border: 1px solid transparent !important; 
}

.settings-card-item:hover { 
    transform: translateY(-8px); 
    border: 1px solid #0d6efd !important; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important; 
}

.grayscale { 
    filter: grayscale(1); 
    pointer-events: none;
}

.border-security-hover:hover { 
    border: 1px solid #dc3545 !important; /* Resalte rojo para seguridad de usuarios */
}